<nav
  class="sheet-navigation tabs"
  data-group="main"
  aria-role="Form Tab Navigation"
>
  <a data-tab="summary"><i class="fas fa-user"></i>
    Summary</a>
  <a data-tab="details"><i class="fas fa-expand"></i>
    Details</a>
</nav>
<div class="body">
  <section class="tab" data-group="main" data-tab="summary">
    <p>Summary of who what where</p>
  </section>
  <section class="tab" data-group="main" data-tab="details">
    <h2>Token</h2>
    <json-viewer>
      {{{changes.token}}}
    </json-viewer>
    <h2>Actor</h2>
    <json-viewer>
      {{{changes.actor}}}
    </json-viewer>
    <h2>Embedded</h2>
    <json-viewer>
      {{{changes.embedded}}}
    </json-viewer>
  </section>
</div>
<footer class="sheet-footer">
  <button data-action="locate"><label>Locate</label></button>
  <button data-action="accept"><label>Accept</label></button>
  <button data-action="reject"><label>Reject</label></button>
</footer>
